@model IEnumerable<MatchedBetsTracker.Models.Transaction>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Broker</th>
            <th>Date</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Validated</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.BrokerAccount.Name</td>
                <td>@transaction.Date</td>
                <td>@transaction.TransactionType.TransactionDescription</td>
                <td>@transaction.Amount</td>
                <td>@transaction.Validated</td>
            </tr>
        }
    </tbody>
</table>