@model IEnumerable<MatchedBetsTracker.Models.MatchedBet>

@{
    ViewBag.Title = "Index";
}

<h2>Matched Bets</h2>

<p>
    @Html.ActionLink("New Simple Matched Bet", "NewSimple", "MatchedBet", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Parse Simple Matched Bet", "OpenParseView", "MatchedBet", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Parse Multiple Matched Bet", "OpenMultipleParseView", "MatchedBet", null, new { @class = "btn btn-primary" })
</p>

<p>
    @Html.ActionLink("Show Closed Bets", "Index", "MatchedBet", new { showClosed = true }, new { @class = "btn btn-primary" })
</p>

@Html.Partial("_MatchedBets", Model)