@model MatchedBetsTracker.ViewModels.BrokerAccountsSummaryViewModel

@{
    ViewBag.Title = "title";
}

<h2>Broker Accounts</h2>

<p>
    @Html.ActionLink("New Broker Account", "New", "BrokerAccount", null, new { @class = "btn btn-primary" })
</p>

@if (Model.ShowInactiveAccounts)
{
    <p>
        @Html.ActionLink("Hide Inactive Account", "Index", "BrokerAccount", new { showInactive = false }, new { @class = "btn btn-primary" })
    </p>
}
else
{
    <p>
        @Html.ActionLink("Show Inactive Account", "Index", "BrokerAccount", new { showInactive = true }, new { @class = "btn btn-primary" })
    </p>
}

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Broker Account</th>
        <th>Owner</th>
        <th>Available</th>
        <th>Open Bet Responsability</th>
        <th>Notes</th>
        <th>Active</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var brokerAccount in Model.BrokerAccounts)
        {
            if (brokerAccount.BrokerAccount.Active || Model.ShowInactiveAccounts)
            {
                var brokerAccountAmount = brokerAccount.AmountValidated.ToString("F2");
                if (Math.Abs(brokerAccount.AmountTotal - brokerAccount.AmountValidated) > 0.01)
                {
                    brokerAccountAmount += " (" + brokerAccount.AmountTotal.ToString("F2") + ")";
                }

                var brokerAccountOpenResponsability = brokerAccount.OpenBetsResponsabilityValidated.ToString("F2");
                if (Math.Abs(brokerAccount.OpenBetsResponsabilityTotal - brokerAccount.OpenBetsResponsabilityValidated) > 0.01)
                {
                    brokerAccountOpenResponsability += " (" + brokerAccount.OpenBetsResponsabilityTotal.ToString("F2") + ")";
                }

                <tr>
                    <td>@Html.ActionLink(brokerAccount.BrokerAccount.Name, "Details", "BrokerAccount", new { Id = brokerAccount.BrokerAccount.Id }, null)</td>
                    <td>@brokerAccount.BrokerAccount.Owner.Name</td>
                    <td>@brokerAccountAmount</td>
                    <td>@brokerAccountOpenResponsability</td>
                    <td>@brokerAccount.BrokerAccount.Notes</td>
                    <td>@brokerAccount.BrokerAccount.Active</td>
                </tr>
            }
        }
    </tbody>
</table>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Total Deposit</th>
            <th>Total Withdrawn</th>
            <th>Total Bonus</th>
            <th>Total Availability</th>
            <th>Total Open Responsabilities</th>
            <th>Net Profit</th>
        </tr>        
    </thead>
    <tbody>
        <tr>
            <th>@Model.TotalDeposit</th>
            <th>@Model.TotalWithdrawn</th>
            <th>@Model.TotalBonusCredit</th>
            <th>@Model.TotalAvailability</th>
            <th>@Model.TotalOpenResponsabilities</th>
            <th>@Model.NetProfit</th>
        </tr>
    </tbody>
</table>
