@model IEnumerable<MatchedBetsTracker.Models.Bet>

<table id="bets" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Broker</th>
            <th>Bet Date</th>
            <th>Bet Description</th>
            <th>Is Lay</th>
            <th>Events</th>
            <th>Quote</th>
            <th>Bet Amount</th>
            <th>Responsability</th>
            <th>Status</th>
            <th>Profit\Loss</th>
            <th>MatchedBet</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bet in Model)
        {
            <tr>
                <td>@Html.ActionLink(bet.Id.ToString(), "Edit", "Bet", new { Id = bet.Id }, null)</td>
                <td>@bet.BrokerAccount.Name</td>
                <td>@bet.BetDate.ToString("s")</td>
                <td>@bet.BetDescription</td>
                <td>@bet.IsLay()</td>
                <td>
                    <table>
                        <thead>
                        <th>Event Description</th>
                        <th>Event Date</th>
                        </thead>  
                        <tbody>
                        @foreach (var betEvent in bet.BetEvents)
                        {
                            <tr>
                                <td>@betEvent.SportEvent.EventDescription</td>
                                <td>@betEvent.SportEvent.EventDate</td>
                            </tr>
                        }
                        </tbody>

                    </table>
                </td>
                <td>@bet.Quote</td>
                <td>@bet.BetAmount</td>
                <td>@bet.Responsability</td>
                <td>
                    <button data-bet-id="@bet.Id" class="btn-link js-change-status">@bet.Status.Description</button>
                </td>  
                <td>@bet.ProfitLoss</td>
                <td>
                    @if (bet.MatchedBetId != null)
                    {
                        @Html.ActionLink(bet.MatchedBetId.ToString(), "Details", "MatchedBet", new { Id = bet.MatchedBetId }, null);
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
