@using MatchedBetsTracker.Models
@model IEnumerable<MatchedBetsTracker.Models.Transaction>

<table id="transactions" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Broker</th>
        <th>User</th>
        <th>Date</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Bet</th>
        <th>Validated</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var transaction in Model)
    {
        var transactionAmount = transaction.Amount.ToString();
        if (transaction.TransactionTypeId == TransactionType.CreditBet)
        {
            var openTransaction = transaction.Bet.Transactions.SingleOrDefault(t => t.TransactionTypeId == TransactionType.OpenBet);
            if (openTransaction != null)
            {
                var netAmount = transaction.Amount + openTransaction.Amount;
                transactionAmount = transactionAmount + " (" + netAmount + ")";
            }
        }


        <tr>
            <td>@Html.ActionLink(transaction.Id.ToString(), "Edit", "Transaction", new { Id = transaction.Id }, null)</td>
            <td>@Html.ActionLink(transaction.BrokerAccount.Name, "Details", "BrokerAccount", new { Id = transaction.BrokerAccount.Id }, null)</td>
            <td>@transaction.UserAccount.Name</td>
            <td>@transaction.Date.ToString("s")</td>
            <td>@transaction.TransactionType.TransactionDescription</td>
            <td>@transactionAmount</td>
            <td>
                @if (transaction.BetId != null)
                {
                    @Html.ActionLink(transaction.Bet.EventDescription, "Edit", "Bet", new { Id = transaction.Bet.Id }, null);
                }
            </td>
            @if (transaction.Validated)
            {
                <td>@transaction.Validated</td>
            }
            else
            {
                <td>
                    <button data-transaction-id="@transaction.Id" class="btn-link js-change-status">@transaction.Validated</button>
                </td>
            }
        </tr>
    }
    </tbody>
</table>